body{
  background-color:  #f9ecec; 
  background-image:url(https://images.unsplash.com/photo-1566995589099-45de344a6dbe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1855&q=80);
}
  h1 {
    font-size: 35px;
    text-align: left;
    color:#ff8585;
  }
  h2 {
    font-size: 15px;
    text-align: left;
  }
  h3 {
    font-size: 15px;
  }
  h4 {
    font-size: 20px;
    background: #ff8585;
    margin-top: 10px;
    margin-right: 25px;
    margin-left: 25px;
    padding: 5px;
    border-radius: 5px;
  }
  h5 {
    text-align: center;
    padding-top: 10px;
  }
  h6 {
    text-align: center;
  }
  p{
    margin-left:25px;
    text-align: center;
    font-size:15px;
  }
  ul{
    text-align: left;
    list-style-type: none;
  }
  a{
    color: #ff5757;
  }
  img {
    display: block;
    justify-content: center;
    padding-top: 25px;
    padding-right: 25px;
    size: 70px;
  }
  strong{
    font-size: 40px;
    color:#ff5757;
  }
  .btn-outline-success{
    color:#ff5757;
    border-color: #ff5757;
  }
  .weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
    background-color:white;
    height: 525px;
    padding: 30px;
    border: 1px solid white;
    border-radius:  999em 999em 40px 40px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  }
  .current-weather {
   margin-top: 180px;
  }
  .weather-forecast{
    max-width: 600px;
    margin: 30px auto;
    border-radius:  31px;
    background-color: white;
  }
  .fahrenheit{
    color:#efc7c7;
  }
  .weather-forecast-temperature-max{
    color:#ff5757;

  }
  .weather-forecast-temperature-min{
    color:#efc7c7;
  }
  .search-form {
    margin-top: 25px;
    top: 90px;
    right: 0 auto;
  }
  .weather-description{
    color:#bacde2;
  }
  .card-title {
    font-size: 12px;
    margin-right: 25px;
    margin-left: 25px;
  }
  .container-flex{
    padding-top: 10px;
  }
  .temp-high {
    font-weight: bolder;
  }
  .row {
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    text-align: center;
    min-width: 576px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    box-sizing: border-box;
  }
  .weather-icon {
    font-size: 40px;
    color: #ff5757;
  }
  