body{
  background-color:  #f9ecec; 
}
  h1 {
    font-size: 30px;
    text-align: left;
    color:#ff8585;
  }
  h2 {
    font-size: 15px;
    text-align: left;
  }
  h3 {
    font-size: 15px;
  }
  h4 {
    font-size: 20px;
    background: #ff8585;
    margin-top: 10px;
    margin-right: 25px;
    margin-left: 25px;
    padding: 5px;
    border-radius: 5px;
  }
  h5 {
    text-align: center;
    padding-top: 10px;
  }
  h6 {
    text-align: center;
  }
  p{
    margin-left:25px;
    text-align: center;
    font-size:15px;
  }
  ul{
    text-align: left;
    list-style-type: none;
  }
  a{
    color: #ff5757;
  }
  img {
    display: block;
    text-align: center;
  }
  button{
    color:#ff5757;
  }
  .weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
  }
  .current-weather {
    background-color: white;
    padding: 20px;
    border: 1px solid white;
    border-radius: 31px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  }
  .weather-forecast{
    max-width: 600px;
    margin: 30px auto;
  }
  .search-form {
    top: 60px;
    right: 0 auto;
  }
  .weather-description{
    color:#c8d9eb;
  }
  .card-title {
    font-size: 12px;
    margin-right: 25px;
    margin-left: 25px;
  }
  .container-flex{
    padding-top: 10px;
  }
  .temp-high {
    font-weight: bolder;
  }
  .row {
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    text-align: center;
    min-width: 576px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    box-sizing: border-box;
  }
  .weather-icon {
    font-size: 40px;
    color: #ff5757;
  }
  