body{
  color:#ff5757;
}
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 10px;
  }
  h3 {
    font-size: 15px;
  }
  h4 {
    font-size: 20px;
    background: #ff8585;
    margin-top: 10px;
    margin-right: 25px;
    margin-left: 25px;
    padding: 5px;
    border-radius: 5px;
  }
  h5 {
    text-align: center;
    padding-top: 10px;
  }
  h6 {
    text-align: center;
  }
  p{
    margin-left:25px;
  }
  img {
    display: block;
    width: 10px;
  }
  .container {
    margin: 0 auto;
  }
  .search-form {
    top: 60px;
    right: 0 auto;
  }
  .current-weather-icon {
    font-size: 65px;
    color: #ff5757;
    justify-content: left;
    margin-left: -150px;
    margin-top: 10px;
  }
  .card-title {
    font-size: 12px;
    margin-right: 25px;
    margin-left: 25px;
  }
  .container-flex{
    padding-top: 10px;
  }
  .temp-high {
    font-weight: bolder;
  }
  .row {
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    text-align: center;
    min-width: 576px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    box-sizing: border-box;
  }
  .weather-icon {
    font-size: 40px;
    color: #ff5757;
  }
  